.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 80px;

  position: fixed;
  bottom: 50px;

  color: white;
  background-color: olivedrab;
  border-radius: 10px;
  animation: notify 2s;
}

@keyframes notify {
  0% {
    filter: opacity(0.5);
  }

  25% {
    filter: opacity(1);
  }

  75% {
    filter: opacity(1);
  }

  100% {
    filter: opacity(0);
  }
}