.back {
  max-width: 1366px;
  margin: auto;
}

main {
  height: 1212px;

  position: relative;
}

.product-container {
  display: flex;
  justify-self: space-evenly;
  flex-wrap: wrap;
  gap: 84px;

  width: 1134px;
  height: 1060px;
  margin: auto;

  position: absolute;
  inset: 0;
}